kafka-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6a9b166c-b126-4b7c-861b-d36474ea7411" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="Producer-Flow" doc:id="4e35ca4e-5226-41b4-9dbb-fb673a41941a" >
		<http:listener doc:name="Push message endpoint" doc:id="67d26b9c-94c8-43ca-9673-720e31892cbc" path="/pushMessage" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="e9ca60ff-ff93-47c4-8ab2-9318d44674b1" message="#[&amp;quot;Message: '&amp;quot; ++ payload.message ++ &amp;quot;' is going to be published to topic: '&amp;quot; ++ payload.topic ++ &amp;quot;'.&amp;quot;]"/>
	</flow>
</mule>
